<div class="row-fluid">
	<div class="col-md-6 col-md-push-6">
		<iframe width="560" height="315" src="//www.youtube.com/embed/3ZoKmdbERzA" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="col-md-6 col-md-pull-6">
		<h1>Some Title</h1>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Phasellus nec tortor ut arcu suscipit vehicula non eu augue. Nam viverra tortor sit 
		amet elementum facilisis. Nunc congue, diam ut consequat vehicula, dolor ipsum 
		</p>
		<%= link_to "Get Involved!", register_path, class: "btn btn-primary btn-block" %>
	</div>
</div>