<div class="row-fluid">
	<div class="col-md-6 col-md-push-6">
		<br/><%= image_tag "video_placeholder.png" %>
	</div>
	<div class="col-md-6 col-md-pull-6">
		<h1>WE WILL LISTEN!</h1>
		<p>
			Have you ever played a game and at some point thought "Why didn't the developers do x, y or z here?".
			And then you went on the game's forum and put out your idea. And your idea got traction and everybody loved it.
			Yet, the developers didn't listen and everything stayed the same. <b>We are here to change that!</b>
		</p>
		<p>
			With <b>Contraband Empire</b>, we want to make a difference. Not only will we listen to your opinions and suggestions,
			we will actively reward you for telling us and we will reward you even more the more people agree with you.
			And just to really make a point, we will start doing so before the first line of code has been written. We will give you the
			chance to give us feedback while the game is being made. <b>For Free!</b>
			
			So what are you waiting for?
		</p>
		<%= link_to "GET INVOLVED!", register_path, class: "btn btn-gold btn-block" %>
	</div>
</div>