// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

$color_gold: #bf7021;
$color_dark_gray: #231f20;

.registration {
	input, textarea, select, .uneditable-input {
		border: 1px solid #bbb;
		width: 100%;
		margin-bottom: 15px;
		@include box_sizing(border-box);
	}

	input {
	  height: auto !important;
	}
	
	#btn-signup {
		background-color: $color_gold;
		color: white;
	}
}